@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/manage/assets/css/util.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/manage/assets/images/img-01.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" asp-action="resetpassword" asp-area="manage" asp-controller="account" method="post">
                    <span class="login100-form-title">
                        Admin Register
                    </span>

                 

                    <div class="wrap-input100 validate-input" data-validate="NewPassword is required">
                        <input class="input100" asp-for="NewPassword" placeholder="NewPassword">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <span asp-validation-for="NewPassword"></span>

                    </div>
                    <div class="wrap-input100 validate-input" data-validate="ConfirmPassword is required">
                        <input class="input100" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <span asp-validation-for="ConfirmPassword"></span>

                        <input type="hidden" name="token" value="@Model.Token" />
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Confirm
                        </button>
                    </div>

                    
                    <div asp-validation-summary="ModelOnly"></div>
                </form>
            </div>
        </div>
    </div>





</body>
</html>

