@model Slider
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Create</h1>
            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="ImageFile">ImageFile</label>
                    <input class="form-control" asp-for="ImageFile" placeholder="Enter ImageFile">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url">Url</label>
                    <input class="form-control" asp-for="Url" >
                    <span class="text-danger" asp-validation-for="Url"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsFirst">IsFirst</label>
                    <input class="form-control" asp-for="IsFirst" >
                    <span class="text-danger" asp-validation-for="IsFirst"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsSecond">IsSecond</label>
                    <input class="form-control" asp-for="IsSecond">
                    <span class="text-danger" asp-validation-for="IsSecond"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>

