@model MCapacityPostDto
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Create</h1>
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Capacity">Name</label>
                    <input type="text" asp-for="Capacity" class="form-control" placeholder="Enter Name">
                    <span class="text-danger" asp-validation-for="Capacity"></span>
                </div>
                
                <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>

