@model AppUserRegisterPostDto
@{
    ViewData["Title"] = "Xceptional Register";
}


<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Registration Form</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form method="post" asp-action="register" enctype="multipart/form-data">
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input asp-for="Email" placeholder="Email" required />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input asp-for="Password" placeholder="Password" required />
                        <span class="text-danger" asp-validation-for="Password"></span>

                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input asp-for="ConfirmPassword" placeholder="Re-type Password" required />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                    </div>
                    <div class="row clearfix">
                        <div class="col_half">
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input asp-for="FullName" placeholder="FullName" />
                                <span class="text-danger" asp-validation-for="FullName"></span>

                            </div>
                        </div>
                        <div class="col_half">
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input asp-for="UserName" placeholder="UserName" required />
                                <span class="text-danger" asp-validation-for="UserName"></span>

                            </div>
                        </div>
                    </div>
                    @*<div class="input_field radio_option">
                        <input type="radio" name="radiogroup1" id="rd1">
                        <label for="rd1">Male</label>
                        <input type="radio" name="radiogroup1" id="rd2">
                        <label for="rd2">Female</label>
                    </div>
                    <div class="input_field select_option">
                        <select>
                            <option>Select a country</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                        <div class="select_arrow"></div>
                    </div>*@

                    <input class="button" type="submit" />
                    <div asp-validation-summary="ModelOnly" style="color:red;"></div>
                </form>
            </div>
        </div>
    </div>
</div>

