@model VideoCardPostDto
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Edit</h1>
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="ModelName">Model</label>
                    <input type="text" asp-for="ModelName" class="form-control" placeholder="Enter Title">
                    <span class="text-danger" asp-validation-for="ModelName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MemoryCapacity">Model</label>
                    <input type="text" asp-for="MemoryCapacity" class="form-control" placeholder="Enter Title">
                    <span class="text-danger" asp-validation-for="MemoryCapacity"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoreSpeed">CoreSpeed</label>
                    <input class="form-control" asp-for="CoreSpeed" placeholder="Enter CoreSpeed">
                    <span class="text-danger" asp-validation-for="CoreSpeed"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VideoCardSerieId">ProcessorSerie</label>
                    <select class="form-control" asp-for="VideoCardSerieId" asp-items="@new SelectList(ViewBag.VCSeries,nameof(VideoCardSerie.Id),nameof(VideoCardSerie.Name))">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IsAvailable">IsAvailable</label>
                    <input class="form-control" asp-for="IsAvailable" placeholder="Enter SubTitle">
                    <span class="text-danger" asp-validation-for="IsAvailable"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>

