@model Setting
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Create</h1>
            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Key">Key</label>
                    <input type="text" asp-for="Key" class="form-control" placeholder="Enter Key">
                    <span class="text-danger" asp-validation-for="Key"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value">Value</label>
                    <input type="text" asp-for="Value" class="form-control" placeholder="Enter Value">
                    <span class="text-danger" asp-validation-for="Value"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="ImageFile">ImageFile</label>
                    <input class="form-control" asp-for="ImageFile" placeholder="Enter ImageFile">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>


