@model Order
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<IComp.Core.Enums.OrderStatus>()">
            </select>
        </div>
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </div>

</form>

